body {
  font-family: 'Poppins', sans-serif;}

.home {
  display: flex;
  width: 100vw;
  height: 100vh;
}
/* sidebar */
.sidebar {
  width: 20%;
  height: 100vh;
  padding: 0.2rem;
  background: #3b8cfa;
  transition: transform 0.3s;
}
.collspan-sidebar {
  width: 0%;
}
.visible {
  transform: translateX(0);
}

.hidden {
  transform: translateX(-150%);
}
.sidebar .sidebar-logo {
  display: flex;
  padding: 1.4rem;
  padding-left: 2.3rem;
  justify-content: space-between;
  align-items: center;
}

.sidebar-logo .logo {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}

.sidebar .newchat {
  margin: 0rem 0.2rem;
  cursor: pointer;
  border-radius: 0.6rem;
  border: 3px solid #fff;
  padding: 0.3rem 1rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .select-newchat .select-newchat-input {
  color: #3b8cfa;
  font-size: 1.3rem;
}


.sidebar .chat_history {
  font-size: 1rem;
}

.sidebar .newchat .newchat-input {
  color: #fff;
  font-size: 1.3rem;
  margin-left: 5%;
}
.sidebar .select-newchat {
  border-radius: 0.6rem;
  border: 3px solid #3b8cfa;
  background-color: #fff;
  padding: 0.4rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .select-newchat .select-newchat-input {
  color: #3b8cfa;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.sidebar .history {
  padding: 1.5rem 3.44rem;
}

.sidebar .chat_history {
  font-size: 1rem;
}

.sidebar .history span {
  color: #a8cdff;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0.45rem;
}

.sidebar .save-history {
  flex: 1;
  max-height: calc(70vh - 50px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f7f7f7;
}
.save-history::-webkit-scrollbar {
  width: 3px;
}
.save-history::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 3px;
}

.save-history .question-type2 {
  padding: 1rem 1.7rem;
  display: flex;
  justify-content: space-between;
}

.save-history .question-type2 .disablelink {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0.5rem;
}
.save-history .selected-type {
  margin: 0rem 0.2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem;
  display: flex;
  justify-content: space-between;
}
.question-type .disablelink {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;

}

.save-history .selected-type .selected-link {
  color: #3b8cfa;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  left: 16px;
  top: 6px;


}
.save-history .selected-type .selectedicon {
  color: #3b8cfa;
  font-size: 1.3rem;
  position: relative;
  left: 12px;
  top: 6px;

}
.chat {
  width: 80%;
}
.collspan {
  width: 100%;
}
.chat .chat-space {
  border-bottom: 3px solid #e4e4e4;
  padding-bottom: 0.3%;
}

.chat-messages {
  padding: 0 13rem;
  flex: 1;
  max-height: calc(75vh - 50px);
  scrollbar-width: thin;
  scrollbar-color: #ccc #f7f7f7;
}
.chat-messages::-webkit-scrollbar {
  width: 6px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: #f7f7f7;
}

.folder-content {
  padding: 0rem 2.9rem;
}

.folder-content .folder-content-1 {
  padding: 0.2rem rem;
  border-radius: 0.3125rem;
  border: 1px solid #3b8cfa;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  color: #3b8cfa;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: capitalize;
}

.folder-content .folder-content-1 input {
  border: none;
  border-bottom: 2px solid #3b8cfa;
}

.folder-content .folder-content-1 button {
  margin: 0.5rem 0rem;
  border-radius: 1.25rem;
  background: #3b8cfa;
  box-shadow: 0px 1px 3px 0px #004eb9 inset,
    0px -1px 3px 0px rgba(0, 0, 0, 0.25) inset;
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3rem 1.3rem;
  text-transform: capitalize;
  border: none;
}

.messages {
  padding: 9px;
  min-height: 70vh;
  overflow: hidden;
}

.message .message-info .other {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.message .other img {
  width: 7%;
  height: 7%;
  margin-left: 4%;
  margin-top: 10%;

}

.message .other .message-content {
  padding: 0.7rem;
  border-radius: 0.875rem;
  background: #c5ddff;
  font-size: 0.8rem;
  margin-right: 10rem;
  margin-top: 10%;
}

.message .copy {
  color: #3b8cfa;
  font-size: 1.4rem;
  cursor: pointer;
}

.message-info .user {
  margin-top: 0rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.user img {
  width: 7%;
  height: 7%;
  margin-right: 3%;
}

.user .message-content {
  padding: 1rem 1rem;
  border-radius: 0.875rem;
  background: #c5ddff;
  font-size: 0.8rem;
  margin-left: 10rem;
  margin: 0.7rem 0rem 0.7rem;
}

.google-folder-id .google-folder-modal {
  margin: 9rem 16rem;
  border-radius: 1.8125rem;
  border: 3px solid #3b8cfa;
  background: #3b8cfa;
  padding: 2.9rem 0rem;
}

.google-folder-id .google-folder-content {
  color: #fff;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.google-folder-id .google-folder-input input {
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.25rem;
  border: 1px solid #3b8cfa;
  background: #fff;
  padding: 0.8rem 1.3rem;
  text-align: center;
}

.google-folder-id .google-folder-button button {
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.25rem;
  border: 1px solid #a8cdff;
  background: #fff;
  color: #4c83e7;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0.3rem 3rem;
}

#centered-input::placeholder {
  text-align: center;
}

.message-input-container {
  display: flex;
  justify-content: center;
  margin-left: 17%;
  width: 65.5%;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 10px;
}
.message-input {
  flex: 1;
  border: none;
  padding: 3px 1rem;
  border-radius: 5px;
  outline: none;
}

.send-button {
  background-color: #fff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.i {
  color: #dedede;
  font-size: 1.3rem;
}
.clicked-button {
  color: #3b8cfa;
  font-size: 1.5rem;
}
.box {
  padding: 1rem 5rem;
  border-radius: 0.3125rem;
  border: 1px solid #3b8cfa;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  width: 102%;
  margin-right: 10%;

}
.box1 {
  padding: 0.33rem 3rem;
  
  border-radius: 0.3125rem;
  border: 1px solid #3b8cfa;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 img {
  width: 9%;
  height: 9%;
}
.box1 p {
  display: block;
  margin-block-start: 0.6em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.icon {
  font-size: 40px;
  color: #fff;
  background-color: #0b497fe9;
  padding: 5px;
  border-radius: 50%;
  margin-right: auto;
  display: block;
  margin-left: 15%;
}

/* loader */

.loader {
  margin: 50px auto;
  border: 3px solid blue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-right-color: transparent;
  animation: anim 1.5s linear infinite;
}
/* error-message */

.error-message {
  text-align: center;
  width: 50%;
  color: red;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  border-radius: 0.875rem;
  background: #c5ddff;
}
@keyframes anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
